.test {

    display: inline-block;
    width: 100%;
    height: 2000px;
    line-height: 100px;
    background-color: gold;
    text-align: center;
    border: 3px #000000 double;
    border-radius: 10px;

}

.test2 {
    position: relative;
    top: -30px;
    left: 30px;
    border: 3px #ff0000 solid;
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 10px;
    overflow-x: scroll;

}
