
div{
    display: inline-block;
}


#mother{

    position: relative;
    border: 1px #000000 solid;
    width: 300px;
    height: 500px;
    margin-left: 35%;

}

#title
{
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    line-height: 100px;
    text-indent: 10px;

}

#child{
    position: absolute;
    width: 300px;
    height: 400px;
    left: 0px;
    top: 100px;
    background-color: #bbbbbb;
    font-weight: bold;
    color: black;
    text-indent: 10px;
    line-height: 80px;
    
}
.child
{
    margin-left: 20px;
    position:relative;
    width: 260px;
    height: 50px;
    background-color: white;
    margin-top:10px;
    line-height: 50px;
    border: 3px #000000 solid;


}